name: build-and-test-ubuntu
on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    strategy:
      matrix:
        compiler: [gfortran8, gfortran9, gfortran10]
    runs-on: ubuntu-20.04
    container:
      image: mikolajkowalski/scone-test:${{matrix.compiler}}_pfu4
    steps:
      - uses: actions/checkout@v3
      - name: CompileAndTest
        run : |
          mkdir build
          cd build
          cmake ..
          make -j
          make test
          cd -
  build-and-test-debug:
    runs-on: ubuntu-20.04
    container:
      image: mikolajkowalski/scone-test:gfortran10_pfu4
    steps:
      - uses: actions/checkout@v3
      - name: CompileAndTest
        run : |
          mkdir build
          cd build
          cmake -DDEBUG=ON ..
          make -j
          make test
          cd -
  build-and-test-no-openmp:
    runs-on: ubuntu-20.04
    container:
      image: mikolajkowalski/scone-test:gfortran10_pfu4
    steps:
      - uses: actions/checkout@v3
      - name: CompileAndTest
        run : |
          mkdir build
          cd build
          cmake -DOPENMP=OFF ..
          make -j
          make test
          cd -
